* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #f3f3f3;
}

.container_colunas {
    display: flex; 
}

.coluna {
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
    min-width: 225px;
    background-color: rgb(255, 253, 253);
    align-items: left;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.12),
    0 4px 12px rgba(0, 0, 0, 0.17);
}

.titulo {
    color: rgb(85, 79, 79);
    margin: 10px;
    padding: 8px;
    letter-spacing: 1px;
    text-align: center;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.12),
    0 4px 12px rgba(0, 0, 0, 0.08);
}

.item {
    background-color: #b0c0d9;
    border-radius: 4px;
    margin-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.painel_buttons {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
}


#novo {
    background-color:  #e0e0e0;
    border-radius: 4px;
 
}

#contato {
    background-color: #f1ac85;
    border-radius: 4px;
}

#negociacao {
    background-color:#b0c0d9;
    border-radius: 4px;
 
}

#ganho {
    background-color: #368f5f;
    border-radius: 4px;
}

#perdido {
    background-color: #cc7fb5;
    border-radius: 4px;
}

.detalhes_item {
    padding: 2px;
    font-size: 4px;
}